.champ-item {

    // min-width: 300px;
    min-height: 400px;
    height: 400px;
    overflow-y: auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;






    // margin-left: 20px;

    .item-title {
        font-size: 20px;
        font-weight: bold;
    }

    .item-content {
        // background-color: rgba(35, 38, 97, 0.8);
        max-height: 400px;
        overflow-y: auto;
        width: 100%;


        .add-item-icon {
            position: relative;
            top: -20px;
            right: 20px;
            z-index: 10;
            opacity: 0;
        }

        .item-card:hover {
            .add-item-icon {
                opacity: 1;
            }
        }

        .item-description {
            maintext {
                bottom: 20px;
            }




        }

        attention {
            font-weight: bold;
            // display: none !important;
        }

        .hide-text {
            display: none;
        }

        h3 {
            letter-spacing: 3px;
            font-style: italic;
        }


    }

}

.background-img-item {
    // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgb(0, 0, 0, 0) 60%) !important;
    background: no-repeat center center;

}

@media (min-width: 0px) and (max-width : 575px) {
    .item-content {
        h3 {
            font-size: 18px !important;
            margin: 0px !important;
        }
    }
}