.champ-spells {
    color: lightgray;

    // background-color: rgb(23, 32, 42, 0.8);
    /**
    * !Depreciated
    */
    max-width: 70rem;
    // max-height: 28.125rem;

    .spell-content {
        background-color: rgba(35, 38, 97, 0.8);


        .spell-title {
            font-size: 20px;
            font-weight: bold;

        }

        .spell-description {
            font-size: 16px;
            padding-right: 10%;

        }

        .spell-cooldown {
            font-size: 16px;
        }

    }
}

.home-content {
    .first-block {
        background-color: rgb(23, 32, 42, 0.8);
    }
}