.champ-search-result {
    border: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-background-clip: padding-box;
    /* for Safari */
    background-clip: padding-box;
    position: absolute;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    background-color: rgb(0, 0, 0, 0.8);
    right: 0px;
    left: 0px;

    .research-result {
        text-transform: lowercase;
    }

    .research-result:first-letter {
        text-transform: uppercase;
    }

    .subtitle {
        font-style: italic;
        background: -webkit-linear-gradient(0.5turn, #ECB823 0%, white 25%, #ECB823 50%, white 75%, #ECB823 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .subtitle::first-letter {
        text-transform: uppercase;
    }
}

.champ-search-content {
    background-color: rgba(23, 23, 26, 0.8);
}

.champ-search-content:hover {
    background-color: rgba(8, 8, 22, 0.8);

}






.champ-search-separator {
    margin-top: 5px;
    margin-bottom: 5px;
}



.champ-input {
    position: relative;

    // input {
    //     background-color: rgba(35, 38, 97, 0.8);
    //     color: white;
    //     width: 100%;
    // }

    .search-icon {

        position: absolute;
        rotate: 90deg;
        right: 7px;
        top: 8px;
        filter: invert(55%) sepia(15%) saturate(1306%) hue-rotate(0deg) brightness(90%) contrast(84%);
    }

    h2 {
        letter-spacing: 3px;
        font-style: italic;
    }
}

.hide-text {
    display: none;
}

@media (min-width: 0px) and (max-width : 575px) {
    .champ-input {
        input {
            //   display: flex;
            //   justify-content: center;
            width: 100% !important;
        }
    }
}