@import url('http://fonts.cdnfonts.com/css/brittany-signature');

.champ-links {
    border: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-background-clip: padding-box;
    /* for Safari */
    background-clip: padding-box;
    position: relative;

    .links-content {
        // background-color: rgba(35, 38, 97, 0.8);
    }

    .links-value {
        text-align: center;
        white-space: pre-wrap
    }

    h2 {
        letter-spacing: 3px;
        font-style: italic;
    }

    h3 {
        letter-spacing: 3px;
        font-style: italic;
    }

    .no-links {
        font-size: 18px;
    }

    .hide-links-value {
        display: none
    }

    .gradient-border {
        // border animated : 
        border: 1px solid rgba(255, 255, 255, 0.1);
        -webkit-background-clip: padding-box;
        /* for Safari */
        background-clip: padding-box;
        /* for IE9+, Firefox 4+, Opera, Chrome */

    }

    .sig {
        position: absolute;
        font-family: 'Brittany Signature', sans-serif;
        font-size: 4rem;
        right: 100px;
        top: 120px;
        -webkit-transform: skewY(-10deg);
        -moz-transform: skewY(-10deg);
        -ms-transform: skewY(-10deg);
        -o-transform: skewY(-10deg);
        transform: skewY(-10deg);
        opacity: 0.05;
    }

    .allie-img {
        filter: invert(73%) sepia(82%) saturate(682%) hue-rotate(175deg) brightness(99%) contrast(105%);
    }

    .ennemy-img {}

    .lover-img {
        filter: invert(84%) sepia(96%) saturate(1789%) hue-rotate(277deg) brightness(99%) contrast(106%);
    }

    .family-img {
        filter: invert(62%) sepia(45%) saturate(709%) hue-rotate(7deg) brightness(107%) contrast(94%);
    }
}

@media (min-width: 0px) and (max-width : 575px) {
    .champ-links {
        h2 {
            font-size: 40px !important;
            margin: 0px !important;
        }
    }
}