.champ-stuff {
    background-color: rgb(23, 32, 42, 0.8);
    width: 350px;

    .stuff-item {
        background-color: rgb(39, 39, 61, 0.6);
        position: relative;
        border-color: rgb(39, 39, 61);
        height: 50px;
        width: 50px;

        .delete-item-icon {
            position: absolute;
            top: 2px;
            right: 2px;
            z-index: 10;
            opacity: 0;
        }
    }
}

.item-card:hover {
    .delete-item-icon {
        opacity: 1;
    }
}