.champ-links {
    background-color: rgb(23, 32, 42, 0.8);

    .links-content {
        // background-color: rgba(35, 38, 97, 0.8);
    }

    .links-value {
        text-align: center;
        white-space: pre-wrap
    }
}