.champ-items {
    // width: 1000px;
    max-height: 400px;
    overflow-y: auto;
    // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgb(0, 0, 0, 1) 60%);

    .items-content {
        // background-color: rgba(35, 38, 97, 0.8);
    }

    .items-type {
        font-weight: bold;
        font-size: 16px;
    }

    h2 {
        letter-spacing: 3px;
        font-style: italic;
    }

    h3 {
        letter-spacing: 3px;
        font-style: italic;
    }

    .add-item-icon {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 10;
        opacity: 0;
    }

    .item-card:hover {
        .add-item-icon {
            opacity: 1;
        }

        opacity: 0.8;
    }

    .search-icon {
        position: absolute;
        rotate: 90deg;
        right: 7px;
        top: 8px;
        filter: invert(55%) sepia(15%) saturate(1306%) hue-rotate(0deg) brightness(90%) contrast(84%);
    }
}

@media (min-width: 0px) and (max-width : 575px) {
    .champ-items {
        h2 {
            font-size: 40px !important;
            margin: 0px !important;
        }

        h2 {
            font-size: 40px !important;
            margin: 0px !important;
        }
    }
}