.champ-search-result {
    position: absolute;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    background-color: rgb(23, 32, 42, 0.8);
    right: 28px;
    left: 0px;

    .research-result {
        text-transform: lowercase;
    }

    .research-result:first-letter {
        text-transform: uppercase;
    }
}

.champ-search-content {
    background-color: rgba(35, 38, 97, 0.8);
}

.champ-search-content:hover {
    background-color: rgba(51, 56, 145, 0.8);

}


input {
    background-color: rgba(35, 38, 97, 0.8);
    color: white;
}

.champ-search-separator {
    margin-top: 5px;
    margin-bottom: 5px;
}

.champ-input {
    position: relative;
}

.hide-text {
    display: none;
}