.champ-spells {


    h2 {
        letter-spacing: 3px;
        font-style: italic;
    }

    .champ-spells-overflow {
        max-height: 200px;
        overflow-y: auto;

    }

    .select-spells {
        width: 160px;
        margin: auto;
    }

    video {
        width: 90%;
        margin: auto;
    }

    // background-color: rgb(23, 32, 42, 0.8);
    /**
    * !Depreciated
    */
    // max-width: 70rem;
    // max-height: 28.125rem;

    .spell-content {
        background-color: rgba(35, 38, 97, 0.8);
        color: lightgray;



        .spell-title {
            font-size: 20px;
            font-weight: bold;

        }

        .spell-description {
            font-size: 16px;
            padding-right: 10%;

        }

        .spell-cooldown {
            font-size: 16px;
        }

    }
}