.champ-spells {
    color: lightgray;

    background-color: rgb(23, 32, 42, 0.8);

    .spell-content {
        background-color: #27273D;
        opacity: 0.8;

        .spell-title {
            font-size: 14px;
            font-weight: bold;

        }

        .spell-description {
            font-size: 10px;

        }

        .spell-cooldown {
            font-size: 10px;
        }

    }
}