.champ-header {
    h1 {
        font-size: 58px;
        font-weight: 600;
    }

    // h2 {
    //     font-size: 40px;
    //     line-height: 10px;
    // }

    .champ-subtitle {
        letter-spacing: 1px;
        font-style: italic;
    }

    h1 span span {
        background: -webkit-linear-gradient(0.5turn, #ECB823, white);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        animation: move-text-color 0.5s forwards;
        bottom: -1em;
        opacity: 0;
    }

    h2 span span {
        position: relative;
        animation: move-subtitle 1s forwards;
        opacity: 0;
    }

    h2 {
        .content-letter-animation {
            margin-bottom: 50px;
        }
    }

    @keyframes move-text-color {
        75% {
            bottom: 0.05em;
            opacity: 0;
            color: #3E5C76;
        }

        87% {
            // bottom: 0.1em;
            // color: #EC058E;
        }

        100% {
            bottom: 0em;
            opacity: 1;
            color: #cb3126;
        }
    }

    @keyframes move-subtitle {
        50% {
            opacity: 0;
            color: black;
            letter-spacing: 1px;
        }


        100% {
            opacity: 1;
            color: white;
            letter-spacing: 3px;
        }
    }
}

.animation-champ-square {
    animation-name: display-header-title;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.animation-champ-title {
    animation-name: display-header;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}


.animation-entity-1 {
    animation-name: display-header;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.animation-entity-2 {
    animation-name: display-header;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.animation-entity-3 {
    animation-name: display-header;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

@keyframes display-header {
    0% {
        opacity: 0;
        // margin-left: -100px;

    }

    20% {
        opacity: 0;
        // margin-left: -100px;
    }

    100% {
        opacity: 1;
        // margin-left: 0px;
    }
}

@keyframes display-header-title {
    0% {
        opacity: 0;

    }

    20% {
        opacity: 0;
        margin-left: -100px;
    }

    100% {
        opacity: 1;
        margin-left: 0px;
    }
}