.champ-stats {
    font-size: 16px;

    padding-bottom: 100px;



    .stats-title {
        font-size: 14px;
        font-weight: bold;
    }

    .stats-content {
        // background-color: rgb(39, 39, 61, 0.8);
        padding-bottom: 150px;

    }

    h2 {
        letter-spacing: 3px;
        font-style: italic;
    }


}

.champ-level {
    button {
        background-color: transparent;
        border: 0px;
        // width: 64px;
        // height: 64px;


    }

    button:disabled,
    button[disabled] {
        opacity: 0.5;
    }

    .increase-button {
        transform: rotate(90deg);
        opacity: 0.8;
    }

    .increase-button:hover {
        opacity: 1;
    }

    .decrease-button {
        transform: rotate(270deg);
        opacity: 0.8;
    }

    .decrease-button:hover {
        opacity: 1;
    }
}

@media (min-width: 0px) and (max-width : 575px) {
    .champ-stats {
        h2 {
            font-size: 40px !important;
            margin: 0px !important;
        }
    }
}