.about-content {
    position: fixed;
    top: 6.063rem;
    bottom: 0px;
    right: 0;
    left: 0;
    overflow-y: scroll;
    z-index: 2;

    h2 {
        font-size: 40px !important;
        margin: 0px !important;
    }

    .champ-card {
        margin-bottom: 40px;
        margin-top: 40px;
    }


}

.background-champ-card {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    width: auto;
    height: 30rem;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    width: 100%;
}

.gradient-champ-card {
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 100%)
}

.card-content {
    position: relative;
    animation-name: display-spells;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.champ-header {
    // background-color: rgb(23, 32, 42, 0.8);
    // position: absolute;
    // bottom: -8px;
    // top: 50%;
    // right: 0px;
    // left: 0px;
    // z-index: 5;
    padding-top: 500px !important;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0, 1) 90%);

    p {
        margin-bottom: 0px;
        width: 80px;
        // line-height: 0.2px;
    }

    .champ-subtitle {
        font-size: 12px;
        color: lightgray
    }

    // .header-content {
    //     background-color: rgba(35, 38, 97, 0.8);
    // }

    .champ-level {
        position: absolute;
        bottom: 0px;
        right: 0px;
    }

    .button-level {
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
        height: auto;
        padding: 8px;
    }

    h1 {
        letter-spacing: 5px;
        font-style: italic;
    }

    h2::first-letter {
        text-transform: uppercase;
    }

    .vertical-hr {
        border: none;
        height: 38px;
        width: 1px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }


}

.about-icon-gold {
    filter: invert(88%) sepia(41%) saturate(2527%) hue-rotate(338deg) brightness(95%) contrast(95%);
}



.first-block {
    // background-color: rgb(23, 32, 42, 0.6);
    display: flex;
    background-color: black;
    // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 85%, rgb(23, 32, 42, 0.8));

    .champ-lore {
        font-size: 12px;
        color: grey;
        font-style: italic;
        text-align: center;
    }

    .champ-prices {
        width: 300px;
        margin: auto;
        letter-spacing: 2px;
        font-style: italic;
    }

    .champ-real-name {
        letter-spacing: 3px;
        font-style: italic;
        text-align: center;

    }

    .gradient-border {
        // border animated : 
        border: 1px solid rgba(255, 255, 255, 0.1);
        -webkit-background-clip: padding-box;
        /* for Safari */
        background-clip: padding-box;
        /* for IE9+, Firefox 4+, Opera, Chrome */
    }
}

.about-skins {
    animation-name: display-spells;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}


.second-block {
    display: flex;
    // background-color: rgb(23, 32, 42, 0.8);
    background-image: linear-gradient(to bottom, rgba(23, 32, 42, 0.8) 85%, rgb(23, 32, 42, 0.8));
    padding: 16px;

}

@media (min-width:0px) and (max-width:500px) {
    .champ-header {
        h1 {
            font-size: 10vw !important;
        }
    }
}

@media (min-width:500px) and (max-width:1000px) {
    .champ-header {
        h1 {
            font-size: 48px !important;
            margin: 0px !important;
        }
    }
}

// smsm
@media (min-width: 0px) and (max-width : 1000px) {
    .second-block {
        //This should work for Normal desktops(15 to 18 inch) only.
        display: block !important;
    }

    .col-vsm {
        min-width: 100% !important;
    }

    .first-block {
        display: block !important;
    }

    .champ-header {
        height: 320px !important;
        padding-top: 150px !important;

        h2 {
            font-size: 24px !important;
        }

        .title {
            font-size: 16px;
        }

        .vertical-hr {
            margin-left: 5px !important;
            margin-right: 5px !important;
        }

        .header-attributes {
            max-height: 100px;
            overflow-y: scroll;
        }
    }

    .champ-spells {
        h2 {
            font-size: 40px !important;
            margin: 0px !important;
        }

        .select-spells {
            width: 168px !important;
            // margin: auto;
        }
    }

    .champ-stuff {
        .champ-content {
            width: 350px !important;
        }

        .stuff-item {
            height: 50px !important;
            width: 50px !important;
        }

        .item-img {
            height: 48px !important;
            width: 48px !important;
        }
    }


}

@media (min-width: 0px) and (max-width : 1630px) {
    .video-letter {
        right: 15px !important;
        width: 64px;
    }
}




.third-block {
    background-image: linear-gradient(to bottom, rgba(23, 32, 42, 0.8) 5%, rgb(0, 0, 0, 1));
    padding: 16px;
}

.fourth-block {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgb(23, 32, 42, 0.8));
}

.entity-title {
    font-size: 20px;
    font-weight: bold;
}

.champ-background {
    background-size: cover;
}


// filter: invert(88%) sepia(41%) saturate(2527%) hue-rotate(338deg) brightness(95%) contrast(95%);
.background-img-stats {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);
    // width: 70%;
    // margin: auto;
    // height: 60%;
    background: no-repeat center center;
}



.display-entity-memo {
    p {
        opacity: 0;
        height: 0px;
    }
}

.display-entity-memo:hover {
    p {
        animation-name: display-entity-memo;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        height: auto;
    }
}


@keyframes display-entity-memo {
    0% {
        opacity: 0;
        line-height: 0.2px;
    }

    100% {
        opacity: 1;
        line-height: 1rem;
    }
}

@keyframes display-menu {
    0% {
        opacity: 0;
        top: -100px
    }

    100% {
        top: 6.3rem;
        opacity: 1;

    }
}

.animation-menu-list {
    animation-name: display-header;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}


@media (min-width: 600px) and (max-width : 800px) {
    .about-content {
        top: 4rem;
    }

    .side-bar-menu {
        top: 4rem !important;
    }
}

@media (min-width: 0px) and (max-width : 350px) {
    .about-content {
        top: 3rem;

        .champ-card {
            width: 12rem;
            height: 20rem;
        }

        .champ-prices {
            width: 250px !important;
            letter-spacing: 1px;
        }
    }

    .side-bar-menu {
        top: 3rem !important;
    }

}

@media (min-width: 350px) and (max-width : 600px) {
    .about-content {
        top: 3rem;
    }

    .side-bar-menu {
        top: 3rem !important;

        .icon-gold {
            right: 0.5rem !important;
        }

        .menu-content {
            img {
                width: 40px !important;
                height: 40px !important;
            }

        }
    }
}

@media (min-width: 0px) and (max-width : 650px) {
    .champ-mastery {
        img {
            width: 48px;
        }

        p {
            font-size: 12px;
        }

        .pie {
            width: 45px !important;
        }

        span {
            font-size: 10px !important;
        }
    }
}


.about-content {
    .form__field {
        font-family: inherit;
        width: 100%;
        border: 0;
        border-bottom: 2px solid #ECB823;
        outline: 0;
        // font-size: 1.3rem;
        color: white;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;

        &::placeholder {
            color: transparent;
        }

        &:placeholder-shown~.form__label {
            // font-size: 1.3rem;
            cursor: text;
            top: 15px;
            // width: 200px;
        }
    }

    .form__label {
        position: absolute;
        top: -12px;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: gray;
    }

    .form__field:focus {
        ~.form__label {
            position: absolute;
            top: -12px;
            display: block;
            transition: 0.2s;
            font-size: 1rem;
            font-weight: 700;
            background: -webkit-linear-gradient(0.5turn, #ECB823, white);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        width: 100%;
        padding-bottom: 6px;
        font-weight: 700;
        border-width: 3px;
        border-image: linear-gradient(to right, white, #ECB823);
        border-image-slice: 1;
    }

    /* reset input */
    .form__field {

        &:required,
        &:invalid {
            box-shadow: none;
        }
    }
}