.filters {
    position: fixed;
    top:6.063rem;
    bottom: 5.056rem;
    left: 0;
    background-color: #433F3F;
    // opacity: 0.8;
    border-right: 2px solid #ECB823;
    overflow-y: auto;
    // padding-right: 0px;
    // height: 757px;
    color: white;
}

.filters-title {
    background-color: black;
}

hr {
    background-color: #ECB823
}


.content {
    padding-left: 0px;
    // min-height: 1200px;
    position: fixed;
    left: 0;
    right: 0;
    top:6.063rem;
    bottom: 5.056rem;
}

.background-img {
        
    background-size: cover;
 

}


.box-shadow {
    -webkit-box-shadow: 0 8px 6px -6px #ECB823;
    -moz-box-shadow: 0 8px 6px -6px #ECB823;
    box-shadow: 0 9px 6px -6px #ECB823;
}

.champs-list {
    position: fixed;
    top:6.063rem;
    bottom: 5.056rem;
    right: 0;
   
    overflow-y: scroll;
    
}