$black: black;
$gold: #ECB823;




.card-icon {

    z-index: 5;
    // filter: opacity(0.4) drop-shadow(0 0 0 #ECB823);
    filter: invert(55%) sepia(15%) saturate(1306%) hue-rotate(0deg) brightness(90%) contrast(84%);
}

.display-links {
    // position: absolute;
    // top: 45px;
    // left: 12px;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0px;
    left: 1px;
    right: 183px;
    padding-top: 50px;
    text-align: center;
    border-right: 2px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(0.5turn, black, $gold 60%);

    .border-bottom-links {
        border-bottom: 1px solid;
        border-image-source: linear-gradient(to right, black, $gold 90%);
    }

    p {
        display: none;
    }
}

.border-bottom-links {
    position: relative;
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to right, black 1%, $gold);
}


.champ-memo {

    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: -10px;
    right: -1px;
    left: 155px;
    z-index: -1;
    padding-top: 50px;
    text-align: center;
    border-left: 2px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(0.5turn, black, $gold 60%);
}



.border-bottom {
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to left, black 1%, $gold);
}

.text-memo {
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.hr-color {
    margin: 5px;
    border-color: -webkit-linear-gradient(0.5turn, $gold, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.hr-bot {
    margin-bottom: 10px !important;
}

.hr-top {
    margin-top: 10px !important;
}


.display-world-animation {
    p {
        opacity: 0;
        line-height: 0.2px;
        margin-left: -20px;
    }
}

.display-world-animation:hover {
    p {
        animation-name: display-entity;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
}




.display-links {
    img {
        margin-bottom: 5px;
    }

    p {
        opacity: 0;
    }
}

.display-links:hover {
    p {
        animation-name: display-links;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        display: block;

    }
}

@keyframes display-entity {
    0% {
        opacity: 0;
        line-height: 0.2px;

    }

    100% {
        /* left: 0px; */
        margin-left: 0px;
        opacity: 1;
        line-height: 1rem;

    }
}

@keyframes display-links {
    0% {
        opacity: 0;
        line-height: 0.2px;

        // line-height: 0.2px;
    }

    100% {
        /* left: 0px; */
        // margin-left: 0px;
        opacity: 1;
        line-height: 1rem;

        // line-height: 1rem;
    }
}



.container {
    min-width: 100%;
    // height: 660px;
    // overflow-y: auto;
    /* padding-left: 100px; */
    padding-right: 0px;
}

/* scroll :  */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: black;
}

*::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
    // border: 1px solid #ECB823;
    opacity: 0.5;
}


/* background image */
.background-img {

    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

html {
    height: 100%
}

// .background-img::before {
//     content: "";
//     display: block;
//     position: absolute;
//     top: 0px;
//     bottom: 0px;
//     right: 0px;
//     width: 100%;
//     height: 100%;
//     // opacity: 0.9;
//     // background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/background-dim3.jpg");
//     // background-size: cover;
// }

.box-shadow {
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
}

.champ-card {
    /* position: relative; */
    border: solid 1px black;
    width: 15rem;
    height: 25rem;
    margin-top: 1.25rem;

    margin-bottom: 1.25rem;
    animation-name: display-card;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    // card content 

    .champ-name {
        position: absolute;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 20px;

    }

}

.champ-card:hover {
    animation-name: zoom-card;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.champ-content {
    z-index: 2;
    overflow-y: auto;
    height: 800px;
}

.champ-list {
    z-index: 5;
}

.no-champ-find {
    position: absolute;
    z-index: 1
}

.title {
    // background-color: rgba(0, 0, 0, .5);
    // opacity: 0.8;
    background: -webkit-linear-gradient(0.5turn, $gold, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


.decreasing {
    .cross {
        font-size: 16px;
    }

    width: 20px;
}

.date-logo {
    filter: invert(55%) sepia(15%) saturate(1306%) hue-rotate(0deg) brightness(90%) contrast(84%);
}

.champ-number {
    position: absolute;
    right: 15px;
    bottom: -20px;
}

.button-champ-list {
    button {
        background-color: transparent;
        border: 0px;
        // width: 64px;
        // height: 64px;
        padding: 0px;
    }

    button:disabled,
    button[disabled] {
        opacity: 0.5;
    }

    .increase-button {
        transform: rotate(90deg);
        opacity: 0.8;
    }

    .increase-button:hover {
        opacity: 1;
    }

    .decrease-button {
        transform: rotate(270deg);
        opacity: 0.8;
    }

    .decrease-button:hover {
        opacity: 1;
    }

    .vertical-hr {
        border: none;
        height: 100%;
        width: 1px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@keyframes display-card {
    0% {
        transform: scale(1.05);
        /* left: -50px; */

    }

    100% {
        /* left: 0px; */

        transform: scale(1);
    }
}

@keyframes zoom-card {
    0% {
        transform: scale(1);
        /* transform-origin: 0% 0% 0px; */
        transition: 500ms linear;
    }

    100% {
        transform: scale(1.05);
        /* transform-origin: 0% 0% 0px; */
    }
}

@media (min-width: 1400px) and (max-width : 1800px) {
    .col-mid-3 {
        //This should work for Normal desktops(15 to 18 inch) only.
        min-width: 25%;
    }
}

@media (min-width: 1400px) and (max-width : 2500px) {
    .col-xl-3 {
        //This should work for Normal desktops(15 to 18 inch) only.
        min-width: 20%;
    }
}

@media (min-width: 1800px) and (max-width : 2200px) {
    .col-custom {
        //This should work for Normal desktops(15 to 18 inch) only.
        min-width: 16.66% !important;
    }
}

@media (min-width: 2200px) and (max-width : 3000px) {
    .col-custom-2 {
        //This should work for Normal desktops(15 to 18 inch) only.
        min-width: 12.5% !important;
    }
}

@media (min-width: 3000px) and (max-width : 3500px) {
    .col-custom-3 {
        //This should work for Normal desktops(15 to 18 inch) only.
        min-width: 10% !important;
    }
}



@media (min-width: 900px) and (max-width : 1200px) {
    .col-mid-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}

@media (min-width:576px) and (max-width: 600px) {
    .col-custom-6 {
        flex: 0 0 auto;
        min-width: 100% !important;
    }
}

@media (min-width:600px) and (max-width: 900px) {
    .col-custom-7 {
        flex: 0 0 auto;
        min-width: 50% !important;
    }
}

// @media  (min-width: 1400px)  {
//     .col-xxl-1 {
//     //This should work for Normal desktops(15 to 18 inch) only.
//     min-width: 5% !important;
// }
// }


// name in decrease order button

.family {
    position: absolute;
    top: 0.313rem;
    left: 3.2rem;
}

@media (min-width: 800px) {
    .decreasing {
        width: 4.25rem !important;
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    .decreasing {
        height: 2rem !important;
        width: 4.25rem !important;
    }
}

@media (min-width: 0px) and (max-width: 600px) {
    .decreasing {
        height: auto !important;
        width: auto !important;
    }
}

@media (min-width: 0px) and (max-width: 600px) {

    .display-name {
        display: none;
    }

    .button-champ-list {
        img {
            width: 24px !important;
        }
    }

    .filters-title {
        height: 52px !important;
    }
}


@media (min-width: 0px) and (max-width : 355px) {
    .champ-card {
        width: 12rem;
        height: 20rem;
    }

    .champ-list {


        .champ-title {
            .hide-title {
                display: none !important;
            }

        }

        .vertical-hr {
            margin-left: 0px !important;
            margin-right: 0px !important;
        }

    }
}