/* TODO : Update CSS here  */

.champ-card {
    border: solid 1px black;
    width: 120px;
    height: 220px;
}

.champ-content {
    z-index: 2
}

.no-champ-find {
    position: absolute;
    z-index: 1
}