.filter-title {
    background-color: black;
    padding: 16px 16px 16px 36px;
    border-color: #ECB823;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    // box-shadow: 10px 5px 10px #ecb823;
    -webkit-box-shadow: 0 8px 6px -6px #ECB823;
    -moz-box-shadow: 0 8px 6px -6px #ECB823;
    box-shadow: 0 9px 6px -6px #ECB823;
}

.nav-chevron-animation {
    animation-name: rotateIcon;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

.nav-chevron {
    filter: opacity(0.4) drop-shadow(0 0 0 white);
}

.nav-chevron-card {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    // filter: opacity(0.4) drop-shadow(0 0 0 #ECB823);
    filter: invert(88%) sepia(41%) saturate(2527%) hue-rotate(338deg) brightness(95%) contrast(95%);
}

.nav-chevron-animation-inverse {
    animation-name: rotateIconInverse;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}


@keyframes rotateIcon {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes rotateIconInverse {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}