.div3 {
    position: relative;
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    margin-left: 30px;

}

.post-filters {
    position: relative;
    z-index: 5;
    background-color: white;
}

@keyframes example {
    0% {
        top: -100px;
        opacity: 0;
    }

    100% {
        top: 10px;
        opacity: 1;
    }
}