footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 6.25;
    background-color: black;
    border-bottom: 0.125rem solid #ECB823;
}


.logo {
    float: left;
}

.nav-button {
    animation-name: nav-displayed;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    position: relative;
    width: 12.5rem;
    height: 5.938rem;
    background-color: black;

    a {
        color: white;
        text-decoration: none;
        padding: 2.5rem 3.125rem 2.5rem 3.125rem;

    }
}

.nav-button:hover {
    animation-name: select-nav;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    background-color: #433F3F;
}


@keyframes nav-displayed {
    0% {
        background-color: #2E2929;
    }

    100% {
        background-color: black;

        /* transform-origin: 0% 0% 0px; */
    }
}

@keyframes select-nav {
    0% {
        background-color: black;
    }

    100% {
        background-color: #2E2929;

        /* transform-origin: 0% 0% 0px; */
    }
}